{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white p-6 rounded-xl shadow mt-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-3xl font-bold text-blue-700">Categories</h2>
        {% if user.is_authenticated %}
            {% if user.profile.is_admin or user.profile.is_organizer %}
            <a href="{% url 'category_create' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold">Add Category</a>
            {% endif %}
        {% endif %}
    </div>
    {% if categories %}
        <ul class="space-y-4-">
            {% for category in categories %}
            <li class="flex justify-between items-center border-b pb-2">
                <span class="text-gray-800 font-semibold">{{ category.name }}</span>
                {% if user.is_authenticated %}
                    {% if user.profile.is_admin or user.profile.is_organizer %}
                    <div class="space-x-2">
                        <a href="{% url 'category_update' category.pk %}" class="inline-block bg-blue-100 text-blue-700 px-4 py-1 rounded hover:bg-blue-200 font-semibold">Edit</a>
                        <a href="{% url 'category_delete' category.pk %}" class="inline-block bg-red-100 text-red-700 px-4 py-1 rounded hover:bg-red-200 font-semibold">Delete</a>
                    </div>
                    {% endif %}
                {% endif %}                              
            </li>
            <br>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-gray-500">No categories available.</p>
    {% endif %}
</div>
{% endblock %}
